{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/oonique.myshopify.com/products/configure/240244/edit
{% endcomment %}
{% if product.metafields.custom_fields["maschenprobe"] != blank %}
  <div class="custom-field custom-field__maschenprobe custom-field__type--text">
    <h3 class="custom-field--title">Maschenprobe</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["maschenprobe"] }}
    </div>
  </div>
{% endif %}