{% if collection.metafields.custom_fields["collection_text"] != blank %}
  <div class="custom-field custom-field__collection-text custom-field__type--html">
    <h3 class="custom-field--title">collection_text</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["collection_text"] }}
    </div>
  </div>
{% endif %}