/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.bgMQOP { position: relative; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-6599318f {
		font-family: "Gentium Basic";
		 font-size: 42px;
		 line-height: 52px;
		 font-weight: 700;
		 margin-bottom: 0px;
		 margin-top: 0px;
		 color: rgb(255, 255, 255);
	}
	.__pf .pf-0cb83f5c {
		text-align: center;
	}
	.__pf .pf-fa9a3633 {
		padding: 190px;
		 background-repeat: no-repeat;
		 background-image: url("https://cdn.shopify.com/s/files/1/0510/2203/7165/t/3/assets/pf-da88efde--uberuns2.jpg?v=1607414468");
		 background-position: 50% 50%;
		 background-size: cover;
	}
	.__pf .pf-e3d8d583 {
		font-family: "Gentium Basic";
		 text-align: center;
		 font-size: 15px;
		 line-height: 23px;
		 font-weight: 700;
	}
	.__pf .pf-29f51ba2 {
		background-position: 50% 100%;
	}
	.__pf .pf-d1341b8a {
		font-size: 31px;
		 font-family: "Gentium Basic";
		 line-height: 39px;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-05df27c9 {
		font-family: "Gentium Basic";
		 font-size: 15px;
		 line-height: 23px;
		 text-align: left;
		 margin-top: 32px;
	}
	.__pf .pf-ed770e55 {
		background-color: rgb(255, 85, 86);
		 color: rgb(255, 255, 255);
		 font-family: "Gentium Basic";
		 margin-top: 24px;
		 padding: 16px 32px;
		 font-weight: 700;
	}
	.__pf .pf-1ba2a257 {
		margin-left: 0px;
		 text-align: center;
	}
	.__pf .pf-ab458b0d {
		font-size: 31px;
		 font-family: "Gentium Basic";
		 line-height: 39px;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-02e179fa {
		font-family: "Gentium Basic";
		 font-size: 15px;
		 line-height: 23px;
		 text-align: left;
		 margin-top: 32px;
	}
	.__pf .pf-b06fa261 {
		background-color: rgb(255, 85, 86);
		 color: rgb(255, 255, 255);
		 font-family: "Gentium Basic";
		 margin-top: 24px;
		 padding: 16px 32px;
		 font-weight: 700;
	}
	.__pf .pf-c622538a {
		text-align: center;
	}
	.__pf .pf-3351889e {
		font-size: 31px;
		 font-family: "Gentium Basic";
		 line-height: 39px;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-889e6147 {
		font-family: "Gentium Basic";
		 font-size: 15px;
		 line-height: 23px;
		 text-align: left;
		 margin-top: 32px;
	}
	.__pf .pf-49fd93d4 {
		font-size: 31px;
		 font-family: "Gentium Basic";
		 line-height: 39px;
		 font-weight: 700;
		 text-align: left;
	}
	.__pf .pf-46db7344 {
		font-family: "Gentium Basic";
		 font-size: 15px;
		 line-height: 23px;
		 text-align: left;
		 margin-top: 32px;
	}
	.__pf .pf-25a343e6 {
		padding-left: 0px;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-6599318f {
		font-size: 29px;
		 line-height: 35px;
	}
	.__pf .pf-fa9a3633 {
		background-image: url("https://cdn.shopify.com/s/files/1/0510/2203/7165/t/3/assets/pf-495909a2--uberuns22.jpg?v=1607586120&selected");
		 padding: 145px 0px;
		 background-size: cover;
	}
	.__pf .pf-d1341b8a {
		margin-top: 0px;
		 font-size: 24px;
		 line-height: 31px;
	}
	.__pf .pf-05df27c9 {
		margin-top: 16px;
	}
	.__pf .pf-3351889e {
		margin-top: 0px;
		 font-size: 24px;
		 line-height: 31px;
	}
	.__pf .pf-889e6147 {
		margin-top: 16px;
	}
	.__pf .pf-4c492e7c {
		margin-top: 32px;
	}
	.__pf .pf-49fd93d4 {
		margin-top: 0px;
		 font-size: 24px;
		 line-height: 31px;
	}
	.__pf .pf-46db7344 {
		margin-top: 16px;
	}
	.__pf .pf-25a343e6 {
		margin-top: 32px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-fa9a3633 {
		padding: 160px;
		 background-size: cover;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-fa9a3633 {
		padding: 91px;
		 background-size: cover;
	}
}
						